<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
    <style>
        {% block css %}
        body {
      background-image: url('{% static "shop/background.png" %}');
    }
         {% endblock %}
   </style>
</head> 
<body>
 
  <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #262833;">
    <a class="navbar-brand" href="/shop"><b>JustCricketThings</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <li class="nav-item">
          <a class="nav-link" href="/shop/tracker"><b>Tracker</b></a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/shop/contactUs"><b>Contact Us</b></a>
        </li>      
        <li class="nav-item">
          <a class="nav-link" href="/shop/aboutUs"><b>About Us</b></a>
        </li> 

      </ul>

      <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" id="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
        <b>Cart(<span id="cart">0</span>)</b>
      </button>
      <!-- <button type="button" class="btn btn-secondary mx-2" id="popcart" data-html="true" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Cart(<span id="cart">0</span>)
      </button> -->
      <button type="button"class="btn btn-secondary mx-2" id="clearCart" ><b>Clear cart<b></button>
      <button type="button" class="btn btn-secondary mx-2" onclick="location.href='/shop/checkout'"><b>Checkout</b></button>
    </div>
  </nav>
  {% block body %} {% endblock %}
      <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  {% block js %}
  <script>
      if(localStorage.getItem('cart') == null){
      var cart = {};
      }
      else
      {
      cart = JSON.parse(localStorage.getItem('cart'));
      updateCart(cart);
      }
      $('.divpr').on('click','button.cart',function(){

      var idstr = this.id.toString();
   
      if (cart[idstr] !=undefined){
        qty = cart[idstr][0] + 1;
      }
      else
      {
        qty=1;
        name = document.getElementById('name'+idstr).innerHTML
        cart[idstr] = [qty, name];
      }

      updateCart(cart)

    
      });
      
  
      updatePopover(cart);
      function updatePopover(cart) {
    
        var popStr = "";
        popStr = popStr + "<h4>Items in your cart</h4><div class='mx-2 my-2'>";
        var i = 1;
        for(var item in cart) {
          popStr = popStr + "<b>" + i + "</b>. ";
          popStr = popStr + document.getElementById('name'+item).innerHTML.slice(0,15) + "...Qty:" + cart[item][0] + "<br>";
          i=i+1;
        }
     
        popStr = popStr + "</div> <a href='/shop/checkout'><button class='btn btn-primary' id ='checkout'>Checkout</button></a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>Clear Cart</button>     "
        document.getElementById('tooltip').setAttribute('data-content',popStr);
   
        // $('#tooltip').tooltip('show');

      };

      function updateCart(cart) {
        var sum=0;
    
        for (var item in cart) {
          sum+=cart[item][0];
          document.getElementById('div' + item).innerHTML = " <button id = 'minus" + item + "' class = 'btn btn-primary minus' >-</button> <span id = 'val" + item + "'> "+ cart[item][0] +" </span> <button id = 'plus"+ item +"' class='btn btn-primary plus'>+</button> ";
        }
        localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML = sum;
      console.log(cart)
        updatePopover(cart);
      }

      $('.divpr').on("click","button.minus",function(){     
        a = this.id.slice(7, );
        cart['pr' + a][0] = cart['pr' + a][0] - 1;
        cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
        document.getElementById('valpr'+a).innerHTML = cart['pr' + a][0];
        updateCart(cart);
      })

      $('.divpr').on("click","button.plus",function(){
        a = this.id.slice(6, );
        cart['pr' + a][0] = cart['pr' + a][0] + 1;
        document.getElementById('valpr'+a).innerHTML = cart['pr' + a][0];
        updateCart(cart);
      })

      $('#clearCart').on("click",function(){
        cart = JSON.parse(localStorage.getItem('cart'));
      for (var item in cart) {
          document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-primary cart">Add To Cart</button>'
      }
      localStorage.clear();
      cart = {};
      updateCart(cart);       
      })

      $('.carousel').carousel({
        interval: false,
      });
  </script>
  {% endblock %}
  </body>
</html>