{% extends 'shop/basic.html' %}

{% block title %}Checkout{% endblock %}
{% block css %}
{% load static %}
body {
  background-image: url('{% static "shop/background.png" %}');
}

h3 {
  color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #d6ed17ff;
}
.card-title {
    margin-bottom: .75rem;
    margin-top: -.5rem;
    color: #fff;
}
.card {
    background-color: black;
    border-radius : .5rem;
}
.btn-primary {
  color: #262833;
  /* background-color: #007bff; */
  /* border-color: #007bff; */
}
.navbar-dark .navbar-brand {
color:  #d6ed17ff;
}

.navbar-dark .navbar-nav .nav-link {
color: #d6ed17ff;
}

body .carousel-control-prev-icon, body .carousel-control-next-icon {
background-color: black;
}

#category  {
color: white;
}

.btn-primary {
/* color: #fff; */
/* background-color: #007bff; */
border-color: #d6ed17ff; 
}

.btn-secondary {
color: #262833;
background-color: #d6ed17ff;
border-color: #262833;
}

.btn {
border-radius: .5rem;
}

.list-group-item {
  background-color: #262833;
  border: 1px solid rgba(0,0,0,.125);
  color: #d6ed17ff;
  margin:2px;
  padding: .5rem .5rem; 
}

.valb {
color: white;
}

label {
  color:#d6ed17ff;
  margin-bottom: 0rem;
}

.bg-primary {
   background-color: #262833!important; 
}

.badge {
  font-size: 125%;
}

.form-control {
  background-color:#262833;
  border: #262833;
}

.breadcrumb {
  background-color:#262833;
}

.breadcrumb-item.active {
  color: white;
}

{% endblock %}
{% block body %}
<div class="container mt-4">
  <h3>Items in your cart</h3>
  <ul class="list-group" id='items'>
  </ul>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item active" aria-current="page">Your Cart Total Is &nbsp;<b>&#x20b9;<span id="totalPrice">  </b></span>.&nbsp;Enter your details below & place your order. Thanks for using My Awesome Cart!</li>
    </ol>
</nav>
</div>
<div class="container my-5">
  <h3>Address</h3>
    <form class="row g-3" method="POST" action="/shop/checkout/">{% csrf_token %}
      <input type="hidden" name="itemsJson" id="itemsJson">
      <input type="hidden" name="amount" id="amount">
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>

        <div class="col-12">
          <label for="address1" class="form-label">Address</label>
          <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
        </div>
        <div class="col-12">
          <label for="address2" class="form-label">Address 2</label>
          <input type="text" class="form-control" id="address2"  name="address2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-md-6">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" id="city" name="city">
        </div>
        <div class="col-md-6">
          <label for="state" class="form-label">State</label>
          <input type="text" class="form-control" id="state" name="state">
        </div>
        <div class="col-md-2">
          <label for="zip_code" class="form-label">Zip</label>
          <input type="text" class="form-control" id="zip_code" name="zip_code">
        </div>
        <div class="col-md-6">
          <label for="phone" class="form-label">Phone</label>
          <input type="tel" class="form-control" id="phone" name="phone">
        </div>
        <div class="col-md-12">
          <button class="btn btn-primary my-2">Place Order</button>
        </div>

      </form>
</div>

{% endblock %}

{% block js %}
<script>
  var sum = 0;
  var total = 0;
  if(localStorage.getItem('cart') == null){
    var cart = {};
    }
    else
    {
    cart = JSON.parse(localStorage.getItem('cart'));
    }
    console.log(cart)
    if ($.isEmptyObject(cart)) {
    //if object is empty
    mystr = `<p><h4>Your cart is empty, please add some items to your cart before checking out!</h4></p>`
    $('#items').append(mystr);} 
    else {
    for(item in cart) {
      let name = cart[item][1]
      let qty = cart[item][0]
      let tprice = cart[item][2] * qty
      sum = sum + qty
      total = total + tprice
      console.log(total)
      mystr = `    <li class="list-group-item d-flex justify-content-between align-items-center">
      ${name}
      <span class="badge bg-primary rounded-pill">${qty}</span>
    </li>`
    $(`#items`).append(mystr);
    }
    console.log(total);


  }
    document.getElementById('cart').innerHTML = sum;
    document.getElementById('totalPrice').innerHTML = total;
    $('#amount').val($('#totalPrice').html())
    $('#itemsJson').val(JSON.stringify(cart));
    {% if thank %}
    alert('Thanks for ordering with us. Your order is {{id}}. Use it to track your order using our order tracker');
    localStorage.clear();
    document.location = "/shop";
    {% endif %}
    </script>
{% endblock %}