{% extends 'shop/basic.html' %}
{% block title %}CONTACT US{% endblock %}
{% block body %}
{% block css %}
{% load static %}
body {
  background-image: url('{% static "shop/background.png" %}');
}
{% endblock %}
<div class="container my-3">
    <form action="/shop/contactUs/" method="POST">{% csrf_token %} 
            <h3>Contact Us</h3>

            <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name">
            </div>

            <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email">
            </div>

            <div class="form-group">
            <label for="phone" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone no.">
            </div>

            
            <div class="form-group">
            <label for="desc" class="form-label">How may we help you!!</label>
            <textarea class="form-control" id="desc" rows="3" name='desc'></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>     
    </form>     
</div>

{% endblock %}